<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
     <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body>
    <!--Nav bar-->
    <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.hbs">Travel.</a>
    
      <div class="collapse navbar-collapse" style="padding:5px;" >
       <ul class="navbar-nav" >
         <li class="nav-item" style="padding:12px 6px ; ">
          <a  href="index.hbs" style="color:black ;">Home</a>
         </li>
         <li class="nav-item" style="padding:12px 6px ; ">
          <a  href="about.hbs" style="color:black ;">About</a>
         </li>
         <li class="nav-item" style="padding:12px 6px ; ">
          <a  href="package.hbs" style="color:black ;">  Packages</a>
         </li>
         <li class="nav-item" style="padding:12px 6px ; c>
          <a href="book.hbs" style="color:black ;">book</a>
         </li>
        </ul>
      </div>
    </div>
  </nav>
  
      <!--end of nav bar-->

    <!--about section-->   
   <div class="About-sec">
    <h1 style="color: white; font-size:5rem ; text-align: center;">ABOUT US</h1>
   </div>





</body>
</html>