<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body>
    <!--Nav bar-->
    
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.hbs">Travel.</a>
    
      <div class="collapse navbar-collapse" style="padding:5px;" >
       <ul class="navbar-nav" >
         <li class="nav-item" style="padding:12px 6px ; ">
          <a  href="index.hbs" style="color:black ;">Home</a>
         </li>
         <li class="nav-item" style="padding:12px 6px ; ">
          <a  href="about.hbs" style="color:black ;">About</a>
         </li>
         <li class="nav-item" style="padding:12px 6px ; ">
          <a  href="package.hbs" style="color:black ;">  Packages</a>
         </li>
         <li class="nav-item" style="padding:12px 6px ; c>
          <a href="book.hbs" style="color:black ;">book</a>
         </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="img-home">
      
     <img src="/home-slide-1.jpg" alt="" height="500px" width="100%" >
     <img src="/home-slide-2.jpg"  alt=""  height="500px" width="100%">  
     <img src="/home-slide-3.jpg"  alt="" height="500px" width="100%" >
  </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


   <!--our service section-->
  <div>
    <h1>OUR SERVICES</h1>






  </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <!--about section-->
   <div class="about-all">
   <img src="/about-img.jpg" class="about-img" alt="">
   <div class="about-wax">
    <h2>About Us</h2>
    <p>Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Expedita Et, Recusandae Nobis Fugit Modi Quibusdam Ea Assumenda, Nulla Quisquam Repellat Rem Aliquid Sequi Maxime Sapiente Autem Ipsum? Nobis, Provident Voluptate?</p>
    <a href="#about"></a><button>Read More</button>
   </div>


   </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <!--package section-->
  <div class="package">
    <div class="package-Rara">
     <h1>OUR PACKAGES</h1>
     <div class="package-img">
       <div class="package-max">
        <img src="/img-1.jpg" class="img-package" alt="">
        <h3 style="color:black ;">Adventure & Tour</h3>
        <p>Lorem Ipsum Dolor Sit, Amet Consectetur <br> Adipisicing Elit. Eos, Sint!</p>
        <button>Book Now</button>
       </div>

       <div class="package-max">
        <img src="/img-2.jpg" class="img-package" alt="">
        <h3 style="color:black ;">Adventure & Tour</h3>
        <p>Lorem Ipsum Dolor Sit, Amet Consectetur <br> Adipisicing Elit. Eos, Sint!</p>
        <button>Book Now</button>
       </div>

       <div class="package-max">
        <img src="/img-3.jpg" class="img-package" alt="">
        <h3 style="color:black ;">Adventure & Tour</h3>
        <p>Lorem Ipsum Dolor Sit, Amet Consectetur <br> Adipisicing Elit. Eos, Sint!</p>
        <button>Book Now</button>
       </div>
     </div>
       <a href="#"></a><button>Load More</button>
    </div>
  </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <!--discount section-->
  <div class="discount">
    <h1>UPTO 50% OFF</h1>
    <p>Lorem Ipsum Dolor Sit, Amet Consectetur Adipisicing Elit. Iure Tempora Assumenda, <br> Debitis Aliquid Nesciunt Maiores Quas! Magni Cumque Quaerat Saepe!</p>
    <a href="#book"></a><button>Book Now</button>
  </div>


       <!--footer section-->
    <!--footer starts-->
    <section class="footer">

    
      <div class="AA">

         <div class="A">
          <h3>Quick links</h3>
          <div>
          
          <a href="#"> <i class="fa fa-angle-right"></i> Home</a>
          </div>
          
          <div>
          
          <a href="#"> <i class="fa fa-angle-right"></i>About</a>
          </div>

          <div>
          
          <a href="#"> <i class="fa fa-angle-right"></i>Package</a>
          </div>

          <div>
          
          <a href="#"> <i class="fa fa-angle-right"></i>Book</a>
          </div>

         </div>

         <div class="B">
          <h3>Extra links</h3>
          <div>
          
          <a href="#"> <i class="fa fa-angle-right"></i> Ask Questions </a>
          </div>
          
          <div>
          
          <a href="#"> <i class="fa fa-angle-right"></i>About Us</a>
          </div>

          <div>
          
          <a href="#"> <i class="fa fa-angle-right"></i>Privacy Policy</a>
          </div>

          <div>
          
          <a href="#"> <i class="fa fa-angle-right"></i>Terms of Use</a>
          </div>

         </div>
         
      <div>
        <h3>Contact Info</h3>
        <div>
          
          <a href="#"> <i class="fa fa-whatsapp"> 0757729071</i></a>
         
       </div>
       
       <div>
          
          
          <a href="#"> <i class="fa fa-whatsapp">0787729071</i></a>
       </div>

       <div>
        
        <a href="#"> <i class="fa fa-facebook"></i>@gmail.com</a> 

       </div>

  
       <div>
        
        <a href="#"> <i class="fa fa-twitter"></i> India</a> 
        
       </div>





      </div>






      </div>











    </section>




    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!--footer ends-->
    
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>